*{
  background-color: #395059
}

#textone{
  margin-left: 35%;
  margin-top: 20%;
  width: 500px;
  height: 50px;
  font-size: 40px;
  background-color: #b33e8e;
  border-radius: 10px;
}

#sub{
  display: inline-block;
  position: absolute;
  width:150px;
  height:50px;
  margin-top: 25%;
  padding-top: 0.2px;
  background-color: white;
  text-decoration:  none;
  border: none;
  border-radius: 10px;
  font-size: 30px;
}

p{
  width: fit-content;
  padding: 10px;
  font-size: 30px;
  font-family: fangsong;
  color: white;
}
